<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="338638367877-hrbbjleg0qteujscm6uhnt1puo404qhs.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  </head>
  <body>
    <h1>Welcome New User!</h1>
    <h2>Please enter in your phone number.</h2>
    <form>
        Phone number:<br>
        <input type= 'text' name="phonenumber">
        <input type="submit" name = "Enter phone number">
    </form>
  </body>
</html>